<%= render partial: 'spree/admin/shared/error_messages', locals: { target: @taxon_interior } %>

<%= form_for [:admin, @taxonomy, @taxon, @taxon_interior], html: { multipart: true } do |f| %>
  <div data-hook="edit_taxon_interior" class="panel panel-default">
    <div class="panel-heading">
      <h1 class="panel-title">
        <%= @taxon_interior.attachment_file_name %>
      </h1>
    </div>
    <div class="panel-body">
      <div class="form-group">
        <div class="col-md-3 text-center">
          <%= link_to @taxon_interior.attachment.filename, main_app.rails_blob_path(@taxon_interior.attachment, disposition: "attachment") %>

        </div>
        <div class="col-md-9">
          <%= render partial: 'form', locals: { f: f } %>
        </div>

        <div class="form-actions" data-hook="buttons">
          <%= button Spree.t('actions.update'), 'save' %>
          <span class="or"><%= Spree.t(:or) %></span>
          <%= button_link_to Spree.t('actions.cancel'), spree.admin_taxonomy_taxon_taxon_interiors_url(@taxonomy, @taxon), id: 'cancel_link', icon: 'delete' %>
        </div>
      </div>
    </div>
  </div>
<% end %>

