<h3 class="taxon-title"><%= @taxon.name %></h3>

<% content_for :sidebar do %>
  <div data-hook="taxon_sidebar_navigation">
    <%= render partial: 'spree/shared/taxonomies' %>
    <%= render partial: 'spree/shared/filters' if @taxon.leaf? %>
  </div>
<% end %>

<% unless params[:keywords].present? %>
  <div data-hook="taxon_children">
    <% cache [I18n.locale, @taxon] do %>
      <%= render partial: 'taxon', collection: @taxon.children %>
    <% end %>
  </div>
  <% if @taxon.children.any? %>
	  <div class="taxon-description col-sm-12">
		<%= @taxon.description_ %>
	  </div>
  <% else %>
      <%= render partial: '/spree/taxons/taxon_menu', locals: { taxon: @taxon } %>  
	  <div class="tab-content">
		<div id="panel1" class="tab-pane fade in active">
			<h3>Дизайн</h3>		
			<div data-hook="taxon_products">
				<%= render partial: 'spree/shared/products', locals: { products: @products, taxon: @taxon } %>
			</div>
		</div>	  
		<div id="panel2" class="tab-pane fade">
			<h3>Технические характеристики</h3>
			<div class="gal">
				<div class="taxon col-sm-4">ТЕХНИЧЕСКИЕ ДАННЫЕ</div>
				<div class="taxon col-sm-4">ЗНАЧЕНИЯ</div>
				<div class="taxon col-sm-4">СТАНДАРТЫ</div>
			</div>	
			<div class="container legend">		
				<%= render partial: 'taxon_property', collection: @taxon.properties %>
			</div>
		</div>
		<div id="panel3" class="tab-pane fade">
			<h3>Сертификаты</h3>
			<%= render partial: 'taxon_certificate', collection: @taxon.certificates %>			
		</div>
		<div id="panel4" class="tab-pane fade">
			<h3>В интерьере</h3>
			<div class="container">
				<div class="col-md-12">
					<div class="row">
						<hr />
						<div class="gal">
							<%= render partial: 'taxon_interior', collection: @taxon.interiors %>
						</div>
					</div>
				</div>
			</div>
		</div>		
	  </div>
      <%= render partial: '/spree/taxons/taxon_description', locals: { taxon: @taxon } %>
  <% end %>
<% end %>
