<div id="spree-header">
  <header id="header" data-hook>
    <div class="container">
      <div class="row-no-gutters">
        <figure id="logo" class="col-md-2 col-xs-3" data-hook>
          <%= logo %>
        </figure>
		<div class='desc_block col-md-4 hidden-xs'>
			<h1><%= Spree::Config.alice_title %></h1>
			<div><%= mail_to Spree::Config.alice_email %></div>
		</div>
		<div class='col-md-4 col-xs-9'>
		<%= render partial: 'spree/shared/search' %>
		</div>
		<div class='desc_block col-md-2 hidden-xs'>
			<h4><nobr><%= link_to Spree::Config.alice_phone, "tel:#{Spree::Config.alice_phone}" %></nobr></h4>
			<h4><nobr><%= link_to Spree::Config.alice_phone1, "tel:#{Spree::Config.alice_phone1}" %></nobr></h4>
		</div>

      </div>
    </div>
  </header>
  <div class="container">
    <%= render partial: 'spree/shared/main_nav_bar' %>
  </div>
</div>
